<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="create-grade-page">
    <h1>Create Grade</h1>
    <form action="/create_grade" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
        {{if .FormErrors.fullname}}
        <p class="error">{{.FormErrors.fullname}}</p>
        {{end}}
        <label for="fullname">Fullname:</label>
        <input type="text" name="fullname" id="fullname" value="{{index .FormData "fullname"}}">

        {{if .FormErrors.email}}
        <p class="error">{{.FormErrors.email}}</p>
        {{end}}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{index .FormData "email"}}">

        {{if .FormErrors.subject}}
        <p class="error">{{.FormErrors.subject}}</p>
        {{end}}
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject" value="{{index .FormData "subject"}}">

        {{if .FormErrors.grade}}
        <p class="error">{{.FormErrors.grade}}</p>
        {{end}}
        <label for="grade">Grade:</label>
        <input type="text" name="grade" id="grade" value="{{index .FormData "grade"}}">

        <button type="submit">Create Grade</button>
    </form>

    <div class="action-buttons">
        <a href="/grade" class="button">View Grade</a>
        <a href="/" class="button button-secondary">Back to Home</a>
    </div>
</div>
</body>
</html>
