<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Grade Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="home-container">
        <div class="wrapper">
            <header>
                <h1>Welcome to the Smart Grade Management System</h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/grade">View Grades</a></li>
                    <li><a href="/create_grade">Create Grade</a></li>
                </ul>
            </nav>
            <footer>
                <p>Advance Database Test 1 - 2025 | Smart Grade Management By Nain Victorin</p>
            </footer>
        </div>
    </div>
</body>
</html>
